<div class="form-group mx-sm-3">
    <div class="row">
        <div class="col-md-4">
                <!-- formulario de datos -->
                <div class="content-main">
                    <h3 class="mb-0">Ingrese sus datos</h3>
                </div>
                <div class="form-group">
                    <label for="name"> Nombre: </label>
                    <input type="text" name="name" 
                        placeholder="ingresar nombre..." id="name" #name
                        required>
                    <br>
                </div>
                <div class="form-group">
                    <label for="email"> E-mail: </label>
                    <input type="text" name="email" 
                        placeholder="ingresar email..." id="email" #email
                        required>
                    </div>
                    <br><br>
                    <button type="submit" 
                        (click)="guardar(name.value, email.value)">Guardar</button>
                
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-saludador *ngFor="let u of datos" 
        [dato]="u"
        (clicked)= "elegido($event)">
    </app-saludador>
    </div>
</div>
