<div class="card-content">
    <div class="row">
        <div class="card-img img">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span><h4>{{dato.name}}</h4></span>            
        </div>
        <div class="card-desc p">                     
            <a href="#" class="btn-card" (click)="ver()">ver!</a>
            <br><samp [style.display]= "dato.isSelected() ? '' : 'none'">- {{dato.email}} -</samp>
        
        </div>
    </div>
</div>